In [2]:
# previous price targets are to be collected by hand and put in a .csv file
import yfinance as yf
blockinc = yf.download(
    tickers = 'XYZ', 
    start='2023-01-01', 
    end='2025-01-01'
    )
blockinc

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open    Volume
Ticker            XYZ        XYZ        XYZ        XYZ       XYZ
Date
2023-01-03  64.639999  67.500000  62.501999  66.300003  16416500
2023-01-04  66.300003  68.120003  64.779999  65.790001  11749500
2023-01-05  64.709999  65.559998  63.019001  64.849998  11336200
2023-01-06  68.989998  69.500000  63.360001  65.279999  15529600
2023-01-09  69.059998  70.610001  68.440002  69.699997  12987600
...               ...        ...        ...        ...       ...
2024-12-24  91.080002  91.139999  88.879997  89.629997   2197700
2024-12-26  91.480003  91.629997  90.289001  90.500000   2991100
2024-12-27  88.970001  91.290001  88.050003  91.000000   4140800
2024-12-30  87.480003  88.690002  86.830002  88.404999   5383800
2024-12-31  84.989998  88.000000  84.820000  87.720001   4989400

[502 rows x 5 columns]