In [8]:
import yfinance as yf
ASX200 = yf.download(
    tickers = '^AXJO', 
    start='2023-04-01', 
    end='2025-04-01'
    )
ASX200

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open  Volume
Ticker            ^AXJO        ^AXJO        ^AXJO        ^AXJO   ^AXJO
Date
2023-04-03  7223.000000  7246.100098  7187.399902  7190.799805  691800
2023-04-04  7236.000000  7239.000000  7211.500000  7214.100098  723600
2023-04-05  7237.200195  7262.100098  7218.299805  7219.100098  723300
2023-04-06  7219.000000  7245.299805  7199.700195  7234.100098  666300
2023-04-11  7309.899902  7322.399902  7235.100098  7235.100098  674900
...                 ...          ...          ...          ...     ...
2025-03-25  7942.500000  7994.000000  7936.899902  7936.899902  651400
2025-03-26  7999.000000  8014.899902  7942.500000  7942.500000  710600
2025-03-27  7969.000000  7999.000000  7936.200195  7999.000000  715800
2025-03-28  7982.000000  8001.000000  7941.500000  7969.000000  600300
2025-03-31  7843.399902  7982.000000  7843.000000  7982.000000  812600

[505 rows x 5 columns]