In [4]:
import pandas as pd

XYZtarget = pd.read_csv("XYZ Historical Price Targets.csv")

XYZtarget

         Date  Price Target
0   1/04/2023        105.00
1   1/05/2023        104.00
2   1/06/2023         94.39
3   1/07/2023         93.48
4   1/08/2023         92.70
5   1/09/2023         87.45
6   1/10/2023         86.33
7   1/11/2023         80.00
8   1/12/2023         75.03
9   1/01/2024         77.35
10  1/02/2024         76.87
11  1/03/2024         82.44
12  1/04/2024         82.58
13  1/05/2024         85.67
14  1/06/2024         87.59
15  1/07/2024         87.13
16  1/08/2024         87.25
17  1/09/2024         87.52
18  1/10/2024         87.34
19  1/11/2024         88.79
20  1/12/2024         91.46
21  1/01/2025         96.33
22  1/02/2025         98.10
23  1/03/2025         96.31
24  1/04/2025         95.11